.Home {
  background-image: url(../../assets/Images/space-x-image.jpg);
  /* background-attachment: fixed;
  background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
